.search-section {
  margin-bottom: 20px;
}

.search-label h3 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
}

.search-label p {
  margin: 5px 0 15px;
  color: #666;
  font-size: 0.9rem;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #333;
}

.categories {
  margin-bottom: 20px;
}

.categories .category {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: #707070;
}

.categories .category:hover,
.categories .category.active {
  background-color: #e6f7ff;
  color: #007bff;
}

.contact-us {
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-us p {
  margin: 0 0 10px 0;
  color: #666;
  font-size: 0.9rem;
}

.contact-us button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-us button:hover {
  background-color: #0056b3;
}

.header nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #007bff;
}

.header nav a.active {
  font-weight: bold;
  color: #0056b3;
}

.header button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
