.notifications-container {
  padding: 20px 0;
}

.notifications-container h3 {
  padding-left: 10px;
}

.notification {
  display: flex;
  padding: 15px;
  cursor: pointer;
}

.notification:hover {
  background-color: #e7f3fec2;
}

.notification > img {
  margin: 0 5px;
}

.notification-unread {
  background-color: #e7f3fe;
}

.notification-read {
  background-color: #fff;
}

.notification-timestamp {
  display: block;
  font-size: 0.85em;
  color: #777;
  margin-top: 10px;
}
